@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Trocchi&display=swap');

h1 {
  font-family: 'Trocchi', sans-serif;
  font-size:18px;
  padding:14px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  padding: 8px;
  text-indent:4px;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  text-indent:4px;
  text-shadow: 4px 4px 4px #aaa;
}


h4 {
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  padding: 8px;
  text-indent:4px;
  text-shadow: 4px 4px 4px #aaa;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  padding: 8px;
  text-indent:4px;
  text-shadow: 4px 4px 4px #aaa;
}

.b1 {
  color: black;
  background: #f9fafb;
  font-size: 10px;
  padding: 8px;
  border-radius: 12px;
  margin: auto;
  width: 90%;
  box-shadow: 4px 4px 4px #aaa;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: black;
  white-space: normal;
  font-size: 10px;
  text-indent: 10px;

}

.a{
  background: linear-gradient(240deg, #f2ebff, #ebf4ff);
  font-size:10px;
  color:black;
  font-family: 'Open Sans', sans-serif;
  border-radius: 25px;
  width: 90%;
  padding: 4px;
  margin: auto;
  white-space:normal;
}

.a1{
  background: linear-gradient(240deg, #F3FFF0, #f0fdff);
  font-size:9px;
  text-transform: uppercase;
  text-align: center;
  color:black;
  font-family: 'Open Sans', sans-serif;
  border-radius: 25px;
  width: 90%;
  text-indent: 0;
  padding: 2px;
  margin: auto;
  white-space:normal;
  text-shadow: 4px 4px 4px #aaa;
}

a:link{
  color: #fb605b;
  font-family: 'Open Sans', sans-serif;
  font-size:10px;
}
a:visited{
  color:#F7D08A;
  font-family: 'Open Sans', sans-serif;
  font-size:10px;
}
a:hover {
  color: #ffc7f9;
  font-family: 'Open Sans', sans-serif;
  font-size:10px;
}
