h1 {
  font-size: 16px;
  color: magenta;
  font-family: 'Roboto Slab', serif;
}
h2 {
  font-size: 14px;
  color: teal;
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-size: 12px;
  color: orange;
  font-family: 'Roboto Slab', serif;
}

body {
  background-color: white;
  color:black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10;
}